.tile {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.tile.clicked img {
  transform: scale(1.2);
}

.white-tile {
  background-color: white;
}

.red-tile {
  background-color: red;
}

.green-tile {
  background-color: green;
}

.yellow-tile {
  background-color: yellow;
}

.blue-tile {
  background-color: blue;
}

.tile img {
  width: 42px;
  transition: transform 0.2s ease-in-out;
}
